<div class="card {{ device.status === 'on' ? '' : 'disabled' }}">
    <div class="card-header">
        <div class="row justify-content-between align-items-center">
            <div class="icon">
                <ion-icon size="large" name="tv-outline"></ion-icon>
            </div>

            <div>
                <app-power-switch
                    (click)="$event.stopPropagation()"
                    [index]="index"
                    [checked]="device.status === 'on' ? true : false"
                    [deviceId]="device.deviceId"
                ></app-power-switch>
            </div>
        </div>
    </div>
    <div class="card-content">
        <span class="title">{{ device.label }}</span>
        <span *ngIf="device.currentTVContent && device.status === 'on'" class="currentTVContent">{{
            device.currentTVContent
        }}</span>
    </div>
</div>
