@import '../../styles/flexbox-layout.scss';

.card {
    // background-color: #333;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #fcfcfc;

    &.disabled {
        .card-content {
            opacity: 0.7;
            margin-top: 3px;
        }
    }

    .card-content {
        span {
            display: block;

            &.currentTVContent {
                font-size: 13px;
            }
        }
    }
}
