<div class="icon-selector-container">
    <div class="header">
        <div class="toolbar row align-items-center">
            <app-icon name="arrow-left-solid.svg" color="#fff" (iconClick)="handleGoBackButton()" class="col-2"></app-icon>
            <div class="title col-6">{{deviceName}}</div>
        </div>
    </div>

    <div class="content bg-light-grey">
        <div class="icon-list">
            <div *ngFor="let icon of iconList" class="icon-item" [ngClass]="{ 'selected': icon === selectedIcon }" (click)="selectIcon(icon)">
                <img [src]="'assets/devices-icons/' + icon" [alt]="icon" />
            </div>
        </div>
    </div>
</div>
