<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> Tab 1 </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-button
        expand="block"
        class="ion-margin-bottom"
        (click)="createOneSignalUser()"
        >Create Onesignal User</ion-button
    >

    <ion-button
        expand="block"
        class="ion-margin-bottom"
        (click)="deleteOneSignalUser()"
        >Delete Onesignal User</ion-button
    >

    <ion-button
        expand="block"
        class="ion-margin-bottom"
        (click)="sendNotificationtoSpecificDevice()"
    >
        <ion-text> Send notification to specific device </ion-text>
    </ion-button>

    <ion-button
        expand="block"
        class="ion-margin-bottom"
        (click)="sendNotificationtoSpecificDeviceFromWeb()"
    >
        <ion-text> Send notification to specific devices from web </ion-text>
    </ion-button>

    <ion-button expand="block" (click)="sendNotificationtoAllUsers()">
        <ion-text> Send notification to all devices </ion-text>
    </ion-button>
</ion-content>
