<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> Tab 1 </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-button (click)="scheduleNotification()"
        >Enviar notificación</ion-button
    >
    <ion-button (click)="cancelNotification()"
        >Cancelar notificación</ion-button
    >
    <ion-button (click)="removeAllDeliveredNotifications()"
        >Cancelar notificación</ion-button
    >
</ion-content>
