@import '../../styles/flexbox-layout.scss';

.header {
    background-color: #3880ff;
    color: #fff;
    padding: 20px;
    .toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-size: 1.5rem;
        }
    }
}

.content {
    margin: 10px;

    #condensed-header {
        .toolbar {
            .title.large {
                font-size: 2rem;
            }
        }
    }
}
