.header {
    background-color: #3880ff; /* Color de fondo del header de Ionic */
    color: #fff; /* Color de texto del header de Ionic */
    padding: 20px; /* Espaciado interno */
    .toolbar {
        .title {
            font-size: 1.5rem; /* Tamaño de fuente del título */
        }
    }
}