<div class="details-container">
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="controls" href="/controls">
                <ion-icon aria-hidden="true" name="speedometer"></ion-icon>
                <ion-label>Controles</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="routines" href="/routines">
                <ion-icon aria-hidden="true" name="calendar"></ion-icon>
                <ion-label>Rutinas</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="icon-selector" href="/icon-selector">
                <ion-icon aria-hidden="true" name="options"></ion-icon>
                <ion-label>Icono</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</div>
