<div class="switch-on-off">
    <input
        type="checkbox"
        name=""
        [id]="'check' + index"
        class="check"
        [checked]="checked"
    />
    <label [for]="'check' + index">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xLink"
            class="fixed-svg"
        >
            <circle class="inner-circle" cx="35%" cy="35%" r="35%"></circle>
        </svg>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xLink"
            class="rotate-svg"
        >
            <circle class="outer-circle" cx="35%" cy="35%" r="35%"></circle>
        </svg>
        <div class="rect"></div>
    </label>
</div>
