<div class="controls-container">
    <div class="header">
        <div class="toolbar row align-items-center">
            <app-icon
                name="arrow-left-solid.svg"
                size="25px"
                color="#fff"
                (iconClick)="handleGoBackButton()"
                class="col-2"
            ></app-icon>
            <div class="title col-6">Controles</div>
        </div>
    </div>

    <div class="content">
        <div class="round-container"></div>
    </div>
</div>
