# Dependencias
node_modules/

# Archivos de configuración
.env

# Archivos de log
*.log

# Archivos de caché
*.cache

# Archivos de entorno
.env.local
.env.development.local
.env.test.local
.env.production.local

# Otras configuraciones específicas de IDE o sistema
.idea/
.vscode/
*.swp
.DS_Store
